<div class="container-fluid p-0 m-0">

  <footer>

    <div class="row d-flex justify-content-center md-2">
      <div class="col-md-12">

        <div class="text-center">
          <a href="https://www.linkedin.com/in/brunadefreit4s/" target="_blank" class="p-2">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>
          <a href="https://github.com/Brynafreitas" target="_blank" class="p-2">
            <i class="fa fa-github-alt" aria-hidden="true"></i>
          </a>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-12">

          <p class="text-white text-center">
            &copy; All Rights Reserved. Bruna de Freitas.
          </p>

        </div>
      </div>
    </div>
  </footer>

</div>
