*{
  overflow: hidden;
}


.bg-color{
  background-color: #B6C9F0;
  min-height: 100vh;
}


.bg-color2{
  background-color:#FCD8D4;
  color: #DF5E5E;
  min-height: 100vh;
}

.content{
  position: relative;

}

.mulheres{
  position:absolute;
 top: 39%;
 width:70%;
 left: 10%;
}

.botao1{
  background-color: #DF5E5E;
  border:none;

}

.botao1:hover{
  background-color: #99413e;
}

.botao2{
  background-color: #8293b6;
  border:none;
}

.botao2:hover{
  background-color: #4b576d;

}
