* {
  overflow: hidden;
}

.content {
  width: 100%;
  position: relative;
  background-color: #FCD8D4;
  min-height: 100vh;
  color: #DF5E5E;



}

img.wave-1 {
  position: absolute;
  min-width: 100vw;
  z-index: 0;



}

img.wave-2 {
  position: absolute;
  bottom: 0;
  right: 0;

}


img.menina {
  width: 400px;
  position: absolute;
  bottom: 8%;
  right: 17%;

}


.login {
  width: 700px;
  height: 100vh;
}


.botao {
  background-color: #DF5E5E;
  border: none;
}

.botao:hover {
  background-color: #99413e;

}



