#img-bg{
    background-image: url("https://cdn.pixabay.com/photo/2017/05/13/17/41/textile-2310247_960_720.png");

    min-height: 100vh;

    background-color: #6b8e23;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}