*{
  overflow: hidden;
}

.fs-54{
  font-size:54pt;
}

.fs-18{
  font-size:18pt;
}

.bg-azul{
  background-color: #B6C9F0 ;
}

.bg-rosa{
  background-color: #FCD8D4;

}


.content{
  background-color:#FCD8D4;
  min-height: 100vh;
}

.card-body{
  background: #B6C9F0;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  background: #DF5E5E;
  color: white !important;

}
